@import '/src/assets/mixins/mixins.scss';

.container {
  @include flexContainer($justify: space-between, $align: center);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid transparent;

  background-image: linear-gradient(#000000, #000000), linear-gradient(90deg, #FF9F63, #8B3C1F);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  @media (max-width: 900px) {
    @include flexContainer($justify: center, $align: center, $wrap: wrap);
    gap: 32px;
  }

  @media (max-width: 650px) {
    @include flexContainer($direction: column, $justify: center, $align: center);
    gap: 16px;
  }

  &_currentRate {
    @include flexContainer();
    gap: 16px;
  }

  &_amount {
    @include flexContainer();
    gap: 16px;

    @media (max-width: 650px) {
      @include flexContainer($direction: column);
    }
  }
}
